:root {
  --font-family: 'Ubuntu';
  --gray-100: #B6C2D5;
  --gray-200: #B4B4B4;
  --gray-300: #64748B;
  --gray-400: #B6C2D4;
  --gray-500: #363636;
  --red-500: #F0574B;
  --white: #FFFFFF;
  --white-300: #F3F5F8;
  --black: #000000;
  --margin-x: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  @media (max-width: 1080px) {
    font-size: 93.75%;
  }
  @media (max-width: 720px) {
    font-size: 87.5%;
  }
}

body {
  background: var(--white);
  -webkit-font-smoothing: antialiased;
}

body, input, textarea, button {
  font-family: var(--font-family), sans-serif;
  font-weight: 400;
}

input:not([type="checkbox"]), select, textarea {
  display: block;
  font-weight: 400;
  width: 100%;
  font-size: 0.875rem;
  border: 1px solid var(--gray-100);
  background-color: var(--white);
  background-clip: padding-box;
  padding: 0.725rem;
  appearance: none;
  border-radius: 10px;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

  &:focus {
    outline: 0;
    border-color: var(--gray-100);
    box-shadow: 0 0 0 0.25rem var(--gray-100);
  }
}

select {
  color: var(--gray-300);
}

[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}

%container {
  $padding: calc(var(--margin-x) * .5);
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--margin-x, $padding);
  padding-left: var(--margin-x, $padding);
}

%row {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(var(--margin-x) * -.5);
  margin-left: calc(var(--margin-x) * -.5);
}

@media (min-width: 576px) {
  %container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  %container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  %container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  %container {
    max-width: 1140px;
  }
}